<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Module</span>
    </li>
  </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title"> 
	Manage  
    <small>Module</small>
</h1>
<!-- END PAGE TITLE-->

<div class="portlet box grey-cascade">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i>6 dòng(s)
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="btn-group">
        <button id="btn_add_new" class="btn green">
          Thêm mới <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="pull-right">
        <form method="get" action="">
          <fieldset class="filter">
            <label>Hệ thống</label>
            <select name="c" id="c" class="input-inline form-control">
              <option value="0">++</option>
              <option value="1">CMS</option>
              <option value="2">Operation</option>
            </select>                                
            <input value="Tìm kiếm" class="btn blue" type="submit">
          </fieldset>
        </form>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="table_module">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Tên Module
          </th>
          <th>
            Thứ tự hiển thị
          </th>
          <th>
            Hệ thống
          </th>
          <th>
            Ngày tạo
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      	<%  @module.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.priority %></td>
          <td><%= c.fk_user_component %></td>
          <td><%= c.created_at %></td>
          <td>
            <a href="/resource/?m=<%= c.id %>">Manage Resource</a>
            &nbsp;|&nbsp;
            <a href="/resource/edit/?m=<%= c.fk_user_component %>">Add Resource</a>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="99">
            <%= will_paginate @module %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>