<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Manager module </div>
        <div class="tools">
          
        </div>
    </div>
    <div class="portlet-body form">
        <%= form_tag("/module", method: "post", class:"form-horizontal", id: "form_module_add") do %>
            <% unless @module.nil? %>
            <div class="alert alert-danger display-hide" style="display: block;">
                <button class="close" data-close="alert"></button>                 
                <ul>  
                   <% @module.errors.full_messages.each do |message| %>
                   <li><%= message %></li>
                   <% end %>
                </ul>
            </div>
            <% end %>
            <div class="form-body">
                <div class="form-group">
                    <%= label_tag(:module_name, "Module Name", class: "col-md-4 control-label") %>
                    <div class="col-md-8">
                      <div class="input-icon right">
                        <i class="fa fa-info-circle tooltips" data-original-title="Module name" data-container="body"></i>
                        <%= text_field :module, :name, placeholder: 'Module Name', class: "form-control form-control-solid placeholder-no-fix", autocomplete:"off" %>
                       </div>
                    </div>
                </div>  

                <div class="form-group">
                    <%= label_tag(:module_priority, "Priority", class: "col-md-4 control-label") %>
                    <div class="col-md-8">
                      <div class="input-icon right">
                        <i class="fa fa-info-circle tooltips" data-original-title="Full name" data-container="body"></i>
                        <%= text_field :module, :priority, placeholder: 'Priority', class: "form-control form-control-solid placeholder-no-fix", autocomplete:"off" %>
                       </div>
                    </div> 
                </div>  

                <div class="form-group">
                    <%= label_tag(:module_fk_user_component, "Component", class: "col-md-4 control-label") %>
                    <div class="col-md-4">
                      <div class="input-icon right">
                        <i class="fa fa-info-circle tooltips" data-original-title="Job title" data-container="body"></i>
                        <%= collection_select(:module, :fk_user_component, @component, :id, :name, {prompt: true}, {:class=> "form-control form-control-solid"}) %></p>
                       </div>
                    </div> 
                </div> 
                  
             
                <div class="form-actions">
                 <div class="row">
                    <div class="col-md-offset-4 col-md-8">
                       <!--  <button type="button" class="btn default">Cancel</button> -->
                        <%= submit_tag("Submit", class: "btn green uppercase") %>
                    </div>
                  </div>
                </div>
            </div>  
        <% end %>
    </div>
</div>

