<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Resource</span>
    </li>
  </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title"> 
	Manage  
    <small>Resource</small>
</h1>
<!-- END PAGE TITLE-->

<div class="portlet box grey-cascade">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i> 6 dong
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="btn-group">
        <button id="btn_add_new" class="btn green" data-id="<%= @moduleId %>">
          Thêm mới <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="pull-right">
        <form method="get" action="">
          <fieldset class="filter">
            <label>Module</label>
            <%= select_tag "m", options_from_collection_for_select(@moduleData, "id", "name", :selected => @moduleId),
            class: "input-inline form-control",  :prompt => 'Select' %>                          
            <input value="Tìm kiếm" class="btn blue" type="submit">
          </fieldset>
        </form>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="table_module">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Controller
          </th>
          
          <th> Tinh trang</th>
          <th>
            Module
          </th>
          <th>
            Ngày tạo
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      	<%  @resource.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.controller %></td>
          <td><%= c.active %></td>
          <td><%= c.fk_user_module %></td>
          <td><%= c.created_at %></td>
          <td>
            <a href="/privilege/?r=<%= c.id %>">Manage privilege</a>
            &nbsp;|&nbsp;
            <a href="/privilege/new/?r=<%= c.fk_user_module %>">Add privilege</a>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="99">
            <%= will_paginate @resource %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>